<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BeHerktEntities" connectionString="metadata=res://*/Model.Usuario.csdl|res://*/Model.Usuario.ssdl|res://*/Model.Usuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ELLET-PC;initial catalog=BeHerkt;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BEHERKSOLUTIONS" connectionString="data source=BRIOHERKT-PC;initial catalog=BEHERKSOLUTIONS;user id=sa;password=sergitop12;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>